html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100%;
    margin : 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

#MainBox{
    display: flex; 
    grid-template-columns: 50% 50%;
    width: max-content;
    background-color: white;
    border-radius: 20px;
    padding : 5em;
}

#ImageBox :nth-child(even){
    transform: translate(-655px, -40px);

}

#ImageBox img{
    overflow: hidden;
}
#ImageBox :nth-child(odd)
{
    transform: translate(-150px, 0px);
}
#TextBox + h1{
    font-family: 'Kumbh Sans', sans-serif;;
}
#TextBox  {
    display: flex;
    flex-direction: column;
    line-height: 220%;
    transform: translate(-45%, 0px);
    font-weight: 300;
   
}
.InnerLines{
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(205, 201, 201);
}

.InnerLines > img{
    margin-left: auto;
}

