html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100%;
    margin : 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

#MainBox{
    display: flex; 
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -35% -40%;
    width: max-content;
    background-color: white;
    border-radius: 20px;
    padding : 4em;
}

#ImageBox :nth-child(even){
    transform: translate(-655px, -40px);

}

#ImageBox img{
    overflow: hidden;
}
#ImageBox :nth-child(odd)
{
    transform: translate(-150px, 0px);
}
#TextBox + h1{
    font-family: 'Kumbh Sans', sans-serif;;
}
#TextBox  {
    display: flex;
    flex-direction: column;
    line-height: 220%;
    transform: translate(-45%, 0px);
    font-weight: 300;
   
}
.InnerLines{
    display: flex;
    align-items: center;
    width: 133%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(205, 201, 201);
}

.InnerLines > img{
    margin-left: auto;
    height: 20%;
}

.InnerLines:hover{
    color: orange;
    display: flex;
    width: 133%;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(205, 201, 201);
}

.PanelClosed{
    max-height: 0;
    overflow: hidden;
}

.PanelOpen{
    max-height: fit-content;
    color: grey;
    margin-top: 0px;   
}


